# Local files
.blog_env
.env
.env.local
.DS_Store
*.sqlite3
**/__pycache__/

# Terraform files with secrets
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfvars
*.auto.tfvars

# IDE
.idea/

# Ansible group vars with secrets
django-deploy-aws/ansible/group_vars/webservers.yml
